<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Formulario Empleado</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body style="background:#DBDBDB">

	<div class="container mt-4">
		<div class="col-sm-6">
			<form action="#" th:action="@{/empleados/save}" th:object=${empleado} method="POST">
				<div class="card text-center border-info mb-3">
					<div class="card-header"></div>
					<h1></h1>
					<h3>Modulo Empleado</h3>
					<div class="card-body"></div>
					<div class="form-group" style="display: none">
						<label>Id</label> <input th:field="*{id}" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>Nombre</label> <input th:field="*{nombre}" type="text" class="form-control" placeholder="Nombre" />
					</div>
					<div class="form-group">
						<label>Apellido</label> <input th:field="*{apellido}" type="text" class="form-control" placeholder="Apellido"/>
					</div>
					<div class="form-group">
						<label>Dni</label> <input th:field="*{dni}" type="text" class="form-control" placeholder="Dni" />
					</div>
					<div class="form-group">
						<label>Fecha de Nacimiento</label> <input th:field="*{fechaNacimiento}" type="date" class="form-control" />
					</div>
					<div class="form-group">
						<label>Horario de Entrada</label> <input th:field="*{{horarioEntrada}}" type="time" class="form-control" />
					</div>
					<div class="form-group">
						<label>Horario de Salida</label> <input th:field="*{{horarioSalida}}" type="time" class="form-control" />
					</div>
					<div class="form-group">
						<label>Tipo Empleado</label> <input th:field="*{tipoEmpleado}" type="text" class="form-control" placeholder="Tipo de empleado"/>
					</div>
					<div class="form-group">
						<label>Sueldo</label> <input th:field="*{sueldo}" type="text" class="form-control" placeholder="Sueldo"/>
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input th:field="*{gerente}" type="checkbox" class="custom-control-input" id="defaultUnchecked">
							<label class="custom-control-label" for="defaultUnchecked">Gerente</label>
						</div>
					</div>
					<div>
						<label>Local</label> 
						<select class="form-control"placeholder="Local" th:field="*{local.id}">
						<option th:each="locals : ${locales}" th:value="${locals.id}"
								th:text="${locals.direccion}"></option>
					</select>		
					</div>
					
					<div class="card-footer">
						<input type="submit" style="background:#74C1F4" value="Guardar" class="btn btn-succes"/>
					</div>
					
				</div>
			</form>


		</div>


	</div>



</body>
</html>