<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Empleados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body style="background-color:#D5D5D5;">
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
	<a th:href="@{/empleados/new}" class="btn btn-primary">Agregar Empleado</a>
		<table class="table" >
			<thead>
				<tr style="text-align:center;">
					<th>ID</th>
					<th>DNI</th>
					<th>NOMBRE</th>
					<th>APELLIDO</th>
					<th>FECHA DE NACIMIENTO</th>
					<th>HORARIO DE ENTRADA</th>
					<th>HORARIO DE SALIDA</th>
					<th>TIPO EMPLEADO</th>
					<th>SUELDO</th>
					<th>GERENTE</th>
					<th>LOCAL</th>
					<th></th>
					<th></th>
				</tr>
			<tbody>
				<tr th:each="empleado:${empleados}" style="text-align:center;">

					<td th:text="${empleado.id}"></td>
					<td th:text="${empleado.dni}"></td>
					<td th:text="${empleado.nombre}"></td>
					<td th:text="${empleado.apellido}"></td>
					<td th:text="${empleado.fechaNacimiento}"></td>
					<td th:text="${empleado.horarioEntrada}"></td>
					<td th:text="${empleado.horarioSalida}"></td>
					<td th:text="${empleado.tipoEmpleado}"></td>
					<td th:text="${empleado.sueldo}"></td>
					<td th:text="${empleado.gerente}"></td>
					<td th:text="${empleado.local.direccion}"></td>
					<td>
						<a th:href="@{/empleados/editar/{id}(id=${empleado.id})}" class="btn btn-warning">Editar</a>
					</td>
					<td>
						<a th:href ="@{/empleados/eliminar/{id}(id=${empleado.id})}" onclick="alert('El empleado fue eliminado con exito!')" class="btn btn-danger">Eliminar</a>
					</td>
					
					
				</tr>

			</tbody>



		</table>




	</div>



</body>
</html>