<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Pedido</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body style="background:#DBDBDB">

	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/pedidos/save}" th:object=${pedido} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h3>Modulo Pedido</h3>
					<div class="card-body"></div>
					<div class="form-group" style="display: none">
						<label>ID</label> <input th:field="*{id}" type="text" class="form-control" />
					</div>

					<div class="form-group">
						<label>FECHA</label> <input th:field="*{fecha}" type="date" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
					</div>

					<div class="form-group">
						<label>PRODUCTO</label> 
						
						<select class="form-control"
						placeholder="Producto" th:field="*{producto}">
						<option th:each="producto : ${productos}" th:value="${producto.id}"
							th:text="${producto.descripcion}">
						</option>
						</select>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('producto')}" th:errors="*{producto}"></small>
					</div>

					<div class="form-group">
						<label>CANTIDAD</label> <input th:field="*{cantidad}" type="number" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></small>
					</div>

					<div class="form-group">
						<label>VENDEDOR</label> <select class="form-control"
						placeholder="Empleado" th:field="*{vendedor}">
						<option th:each="empleado : ${empleados}" th:value="${empleado.id}"
							th:text="${empleado.nombre}"></option>
						</select>
					</div>

					<div class="form-group">
						<label>CLIENTE</label> <select class="form-control"
						placeholder="Cliente" th:field="*{cliente}">
						<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
							th:text="${cliente.nombre}"></option>
						</select>
						<small class="form-text text-danger" th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}"></small>
					</div>

					<div class="form-group">
						<label>FACTURADO</label> <input th:field="*{facturado}" type="text" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('facturado')}" th:errors="*{facturado}"></small>
					</div>

					<div class="card-footer">
						<input type="submit" style="background:yellow"  value="Guardar" class="btn btn-succes"/>
					</div>
				</div>
			</form>


		</div>


	</div>



</body>
</html>