<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Local</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body>


	<div class="container mt-4">
		<div class="col-sm-6">
			<form action="#" th:action="@{/locales/save}" th:object=${local}
				method="POST">
				<div class="card text-center border-info mb-3">
					<div class="card-header"></div>
					<h3>Modulo Local</h3>
					<div class="card-body"></div>

					<div class="form-group" style="display: none">
						<label>ID</label> <input th:field="*{id}" type="text"
							class="form-control" />
					</div>
					<div class="form-group">
						<label>Direccion</label> <input th:field="*{direccion}"
							type="text" class="form-control" placeholder="Direccion" />
					</div>
					<div class="form-group">
						<label>Latitud</label> <input th:field="*{latitud}" type="text"
							class="form-control"  placeholder="Latitud"/>
					</div>
					<div class="form-group">
						<label>Longitud</label> <input th:field="*{longitud}" type="text"
							class="form-control" placeholder="Longitud"/>
					</div>
					<div class="form-group">
						<label>Numero de Telefono</label> <input th:field="*{numeroTelefono}"
							type="text" class="form-control" placeholder="Numero de telefono"/>
					</div>
					<div>
						<label>Gerente</label> <select class="form-control"
						placeholder="Local" th:field="*{empleado}">
						<option th:each="empleado : *{empleados}" th:value="${empleado.id}"
							th:text="${empleado.nombre}"></option>
					</div>
					</select>
					<div class="card-footer">
						<input type="submit" style="background:#74C1F4" value="Guardar"
							class="btn btn-succes" />


					</div>

				</div>
			</form>


		</div>

	</div>
</body>
</html>