<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Local </title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body style="background:#DBDBDB">
	<div th:replace="nav :: nav"></div>

<div class="container mt-4">
	<a th:href="@{/lotes/new/{id}(id=${local.id})}" class="btn btn-primary">Agregar lote</a>
	<a th:href="@{/solicitudesStock/new/{id}(id=${local.id})}" class="btn btn-primary">Solicitud Stock</a>
	<a th:href="@{/remitos/new/{id}(id=${local.id})}" class="btn btn-primary">Remito</a>
	
		<table class="table" >
			<thead>
				<tr>
					<th>NUMERO DE LOTE</th>
					<th>CANTIDAD INICIAL</th>
					<th>FECHA DE INGRESO</th>
					<th>CANTIDAD EXISTENTE</th>
					<th>CODIGO_PRODUCTO</th>
					<th>TALLE</th>
				</tr>
			<tbody>
				<tr th:each="lote:${local.lotes}">

					<td th:text="${lote.numeroDeLote}"></td>
					<td th:text="${lote.cantidadRecibida}"></td>
					<td>
					<a th:href="@{lotes/editar/{id}(id=${lote.id})} " class="btn btn-warning">Editar</a>
					<a th:href="@{lotes/eliminar/{id}(id=${lote.id})} " class="btn btn-danger" onclick="alert('El local fue eliminado con exito!')" >Eliminar</a>
					</td>

				</tr>

			</tbody>



		</table>




	</div>
	<table class="table" >
			<thead>
				<tr style="text-align:center;">
					<th>ID</th>
					<th>FECHA</th>
					<th>PRODUCTO</th>
					<th>CANTIDAD</th>
					<th>VENDEDOR</th>
					<th>CLIENTE</th>
					<th>FACTURADO</th>
					<th>COLABORADOR</th>
					<th>ACEPTADO</th>
					<th>LOCAL</th>
					<th></th>
					<th></th>
				</tr>
			<tbody>
				<tr th:each="solicitudStock:${solicitudes}" style="text-align:center;">

					<td th:text="${solicitudStock.id}"></td>
					<td th:text="${solicitudStock.fecha}"></td>
					<td th:text="${solicitudStock.producto.descripcion}"></td>
					<td th:text="${solicitudStock.cantidad}"></td>
					<td th:text="${solicitudStock.vendedor.nombre}"></td>
					<td th:text="${solicitudStock.cliente.nombre}"></td>
					<td th:text="${solicitudStock.facturado}"></td>
					<td th:if="${solicitudStock.aceptado}" th:text="${solicitudStock.colaborador.nombre}"></td>
					<td th:unless="${solicitudStock.aceptado}" ></td>
					<td th:if="${solicitudStock.aceptado}" th:text="${solicitudStock.aceptado}"></td>
					<td th:unless="${solicitudStock.aceptado}" ></td>
					<td th:text="${solicitudStock.localDestinatario.direccion}"></td>

				</tr>

			</tbody>



		</table>

</body>
</html>