<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Local </title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body style="background:#DBDBDB">
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
		<a th:href="@{/lotes/new/{id}(id=${local.id})}" class="btn btn-primary">Agregar lote</a>
		<a th:href="@{/lotes/{id}(id=${local.id})}" class="btn btn-primary">Ver Lotes</a>
		<a th:href="@{/solicitudesStock/new/{id}(id=${local.id})}" class="btn btn-primary">Agregar Solicitud Stock</a>
		<a th:href="@{/solicitudesStock/{id}(id=${local.id})}" class="btn btn-primary">Ver Solicitudes Stock</a>
		<a th:href="@{/remitos/new/{id}(id=${local.id})}" class="btn btn-primary">Agregar Remito</a>
		<a th:href="@{/remitos/{id}(id=${local.id})}" class="btn btn-primary">Ver Remitos</a>
	</div>

</body>
</html>