<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Nuevo Local</title>
<div th:replace="header.html"></div>

</head>
<body>

		<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content"
				 th:replace="div :: div"></div>
			
		
	</section>

		<!-- Page content -->
			<section class="full-box page-content">
			<nav th:replace="nav_user :: nav">			
			</nav>

			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR LOCAL
				</h3>
				<p class="text-justify">Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Suscipit nostrum rerum animi natus beatae ex.
					Culpa blanditiis tempore amet alias placeat, obcaecati quaerat
					ullam, sunt est, odio aut veniam ratione.</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li><a class="active" href="user-new.html"><i
							class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR LOCAL</a></li>
					<li><a href="user-list.html"><i
							class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA LOCALES</a></li>
					<li><a href="user-search.html"><i
							class="fas fa-search fa-fw"></i> &nbsp; BUSCAR LOCALES</a></li>
				</ul>
			</div>

			<!-- Content -->
			<div class="container-fluid">
				<fieldset>
					<legend><i class="far fa-plus-square"></i> &nbsp; Información de Locales</legend>

					<form th:action="@{/locales/save}" th:object=${local} method="POST">
						<div class="container-fluid">
							<div class="row">

								<div>
									<div class="form-group" style="display: none">
										<label class="form-group">Id</label>
										<input th:field="*{id}" type="number" class="form-control" />
									</div>
								</div>
								
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label>DIRECCION</label>
										<input th:field="*{direccion}" type="text" class="form-control" placeholder="Direccion" maxlength="50">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
									</div>
								</div>
								
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label>LATITUD</label>
										<input th:field="*{latitud}" type="text" class="form-control" placeholder="Latitud" maxlength="50">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}"></small>
									</div>
								</div>

								<div class="col-12 col-md-4">
									<div class="form-group">
										<label>LONGITUD</label>
										<input th:field="*{longitud}" type="text" class="form-control" placeholder="Longitud" maxlength="50">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}"></small>
									</div>
								</div>
								
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label>NUMERO DE TELEFONO</label>
										<input th:field="*{numeroTelefono}" type="text" class="form-control" placeholder="Numero de telefono" maxlength="50">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('numeroTelefono')}" th:errors="*{numeroTelefono}"></small>
									</div>
								</div>


								<div>
									<label>Gerente</label>
									<div th:each="empleado : *{empleados}"
										th:if="${empleado.gerente}">
										<div th:text="${empleado.nombre}"></div>
									</div>
								</div>


<!-- 								 <div class="col-12 col-md-6"> -->
<!-- 									<div class="form-group"> -->
<!-- 										<label>GERENTE</label> <select class="form-control" placeholder="Local" th:field="*{empleado}"> -->
<!-- 											<option th:each="empleado : *{empleados}" th:value="${empleado.id}" th:text="${empleado.nombre}"></option> -->
<!-- 										</select> -->
<!-- 									</div> -->
<!-- 								</div> -->

							</div>
							<div class="card-footer">
								<i class="far fa-save"></i>
								<input type="submit" class="btn btn-raised btn-info btn-sm">
							</div>
						</div>
					</form>
				</fieldset>
				<br><br><br>
					<p class="text-center" style="margin-top: 40px;">
						<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
					</p>
			</div>


		</section>
	</main>


	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="/js/jquery-3.4.1.min.js"></script>

	<!-- popper -->
	<script src="/js/popper.min.js"></script>

	<!-- Bootstrap V4.3 -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>
		$(document).ready(function() {
			$('body').bootstrapMaterialDesign();
		});
	</script>
	<script src="/js/main.js"></script>
	
</body>
</html>