<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Producto</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>


	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/productos/save}" th:object=${producto} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h3>Modulo Producto</h3>
					<div class="card-body"></div>
					
					<div class="form-group">
						<label>ID</label> <input th:field="*{id}" type="number" class="form-control" />
					</div>
					<div class="form-group">
						<label>DESCRIPCION</label> <input th:field="*{descripcion}" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>PRECIO_UNITARIO</label> <input th:field="*{precioUnitario}" type="number" class="form-control" />
					</div>
					<div class="form-group">
						<label>CODIGO_PRODUCTO</label> <input th:field="*{codigoProducto}" type="number" class="form-control" />
					</div>
					<div class="form-group">
						<label>TALLE</label> <input th:field="*{talle}" type="number" class="form-control" />
					</div>
					<div class="card-footer">
						<input type="submit" style="background:yellow" value="Guardar" class="btn btn-succes"/>


					</div>
				</div>
			</form>


		</div>


	</div>

</body>
</html>