<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Productos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
	<a th:href="@{/productos/new}" class="btn btn-primary">Agregar Producto</a>
		<table class="table" >
			<thead>
				<tr>
					<th>ID</th>
					<th>DESCRIPCION</th>
					<th>PRECIO_UNITARIO</th>
					<th>TALLE</th>
						<th>CODIGO_PRODUCTO</th>
				</tr>
			<tbody>
				<tr th:each="producto:${productos}">

					<td th:text="${producto.id}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.precioUnitario}"></td>
					<td th:text="${producto.talle}"></td>
					<td th:text="${producto.codigoProducto}"></td>
					<td>
					<a th:href="@{productos/editar/} + ${producto.id}" class="btn btn-warning">Editar</a>
					<a th:href ="@{productos/eliminar/} + ${producto.id}" class="btn btn-danger">Eliminar</a>
					</td>

				</tr>

			</tbody>



		</table>




	</div>



</body>
</html>