<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>SolicitudStock</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body style="background:#DBDBDB">

	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/solicitudesStock/save}" th:object=${solicitudStock} method="POST">
				<div class="card text-center border-info mb-3">
					<div class="card-header"></div>
					<h3>Modulo SolicitudStock</h3>
					<div class="card-body"></div>
					<div class="form-group" style="display: none">
						<label>ID</label> <input th:field="*{id}" type="text"
							class="form-control" />
					</div>

					<div class="form-group">
						<label>Fecha</label> <input th:field="*{fecha}" type="date" class="form-control" placeholder="Fecha"/>
					</div>

					<div>
						<label>Producto</label> 
						<select class="form-control"placeholder="Producto" th:field="*{producto.id}">
						<option th:each="producto : ${productos}" th:value="${producto.id}"
							th:text="${producto.descripcion}+${producto.talle}"></option>
						</select>		
					</div>

					<div class="form-group">
						<label>Cantidad</label> <input th:field="*{cantidad}" type="number" class="form-control" />
					</div>

					<div>
						<label>Vendedor</label> 
						<select class="form-control"placeholder="Vendedor" th:field="*{vendedor.id}">
						<option th:each="vendedor : ${local.empleados}" th:value="${vendedor.id}"
							th:text="${vendedor.nombre}"></option>
						</select>		
					</div>
					<div>
						<label>Cliente</label> 
						<select class="form-control"placeholder="Cliente" th:field="*{cliente.id}">
						<option th:each="cliente : ${clientes}" th:value="${cliente.id}"
							th:text="${cliente.nombre}"></option>
						</select>		
					</div>

					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input th:field="*{facturado}" type="checkbox" class="custom-control-input" id="defaultUnchecked">
							<label class="custom-control-label" for="defaultUnchecked">Facturado</label>
						</div>
					</div>
					<div>
						<label>Local Destinatario</label> 
						<select class="form-control"placeholder="Local" th:field="*{localDestinatario.id}">
						<option th:each="localDestinatario : ${locales}" th:value="${localDestinatario.id}"
							th:text="${localDestinatario.direccion}"></option>
						</select>		
					</div>

					<div class="card-footer">
						<input type="submit" style="background:#74C1F4"  value="Guardar" class="btn btn-succes"/>
					</div>
				</div>
			</form>

		</div>


	</div>



</body>
</html>