<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Inicio</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

<style>
.jumbotron {
  padding: 13rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.1rem;

background: #000064; 
background: -webkit-linear-gradient(to right, #1BADD8, #00003E);  
background: linear-gradient(to right, #1BADD8, #00003E); 


}
.hd1{
    color:#fff;
}
</style>

</head>
<body style="text-align:center;">
<div th:replace="nav :: nav"></div>
	  

<div class="jumbotron">
  <h1 class="hd1">Bienvenido</h1>
  <p class="lead hd1">Sistema de democratización de negocios.</p>
  <hr class="my-4">
  
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

	  
</body>
</html>