<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Locales</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
	<a th:href="@{/locales/new}" class="btn btn-primary">Agregar Local</a>
		<table class="table" >
			<thead>
				<tr>
					<th>ID</th>
					<th>DIRECCION</th>
					<th>LATITUD</th>
					<th>LONGITUD</th>
					<th>NUM.TELEFONO</th>
					<th>GERENTE</th>
					
				</tr>
			<tbody>
				<tr th:each="local:${locales}">

					<td th:text="${local.id}"></td>
					<td th:text="${local.direccion}"></td>
					<td th:text="${local.latitud}"></td>
					<td th:text="${local.longitud}"></td>
					<td th:text="${local.numeroTelefono}"></td>
					<td th:text="${local.empleado.nombre}"></td>
					
					<td>

						<a th:href="@{/locales/editar/{id}(id=${local.id})}" class="btn btn-warning">Editar</a>
					</td>
					
					<td>
						<a th:href ="@{/locales/eliminar/{id}(id=${local.id})}" onclick="alert('El local fue eliminado con exito!')"
						class="btn btn-danger" >Eliminar</a>

					</td>

				</tr>

			</tbody>



		</table>




	</div>



</body>
</html>