
<nav class="full-box nav-lateral-menu">
	<ul>
		<li><a th:href="@{/locales/listado}"><i class="fab fa-dashcube fa-fw"></i>
				&nbsp; Listado Locales</a></li>
		<li><a th:href="@{/locales/main/{id}(id=${empleado.local.id})}"><i
				class="fas fa-store-alt fa-fw"></i> &nbsp; Local</a></li>

		<li><a href="#" class="nav-btn-submenu"><i
				class="fas fa-users fa-fw"></i> &nbsp; Clientes <i
				class="fas fa-chevron-down"></i></a>
			<ul>
				<li><a href="/clientes/newl"><i class="fas fa-plus fa-fw"></i>
						&nbsp; Agregar Cliente</a></li>
				<li><a th:href="@{/clientes}"><i
						class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de clientes</a></li>
			</ul></li>
		<li><a href="#" class="nav-btn-submenu"><i
				class="fas fa-pallet fa-fw"></i> &nbsp; Productos <i
				class="fas fa-chevron-down"></i></a>
			<ul>
				<li><a href="/productos/new"><i class="fas fa-plus fa-fw"></i>
						&nbsp; Agregar producto</a></li>
				<li><a href="/productos/"><i
						class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de productos</a></li>
			</ul></li>


		<li><a href="#" class="nav-btn-submenu"><i
				class="fas fa-pallet fa-fw"></i> &nbsp; Lotes <i
				class="fas fa-chevron-down"></i></a>
			<ul>

				<li><a th:href="@{/lotes/new/{id}(id=${local.id})}"><i
						class="fas fa-plus fa-fw"></i> &nbsp;Agregar Lote</a></li>
				<li><a th:href="@{/lotes/{id}(id=${local.id})}"><i
						class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Lotes</a></li>
			</ul></li>

		<li><a href="#" class="nav-btn-submenu"><i
				class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Solicitud
				Externa <i class="fas fa-chevron-down"></i></a>
			<ul>
				<li><a th:href="@{/solicitudesStock/new/{id}(id=${local.id})}"><i
						class="fas fa-plus fa-fw"></i> &nbsp; Nueva Solicitud</a></li>
				<li><a th:href="@{/solicitudesStock/{id}(id=${local.id})}"><i
						class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de
						Solicitudes</a></li>
			</ul></li>

		<li><a href="#" class="nav-btn-submenu"><i
				class="fas fa-file-invoice-dollar fa-fw"></i> &nbsp; Remitos <i
				class="fas fa-chevron-down"></i></a>
			<ul>
				<li><a th:href="@{/remitos/new/{id}(id=${local.id})}"><i
						class="fas fa-plus fa-fw"></i> &nbsp; Nuevo Remito</a></li>
				<li><a th:href="@{/remitos/{id}(id=${local.id})}"><i
						class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de Remitos</a></li>
			</ul></li>




	</ul>
</nav>


