<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Remito</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
</head>
<body style="background-color: #D5D5D5;">
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr style="text-align: center;">
					<th>ID</th>
					<th>FECHA</th>
					<th>PRODUCTO</th>
					<th>CANTIDAD</th>
					<th>VENDEDOR</th>
					<th>CLIENTE</th>
					<th>FACTURADO</th>
					<th>FORMA DE PAGO</th>
					<th></th>
				</tr>
			<tbody>
				<tr th:each="remito:${remitos}" style="text-align: center;">

					<td th:text="${remito.id}"></td>
					<td th:text="${remito.fecha}"></td>
					<td th:text="${remito.producto.descripcion}"></td>
					<td th:text="${remito.cantidad}"></td>
					<td th:text="${remito.vendedor.nombre}"></td>
					<td th:text="${remito.cliente.nombre}"></td>
					<td th:text="${remito.facturado}"></td>
					<td th:text="${remito.formaDePago}"></td>
					<td><a th:href="@{remitos/editar/} + ${remito.id}"
						class="btn btn-warning">Editar</a></td>
					<td><a th:href="@{remitos/eliminar/} + ${remito.id}"
						class="btn btn-danger">Eliminar</a></td>
					<td><a th:href="@{/locales/main/{id}(id=${local.id})}"
						class="btn btn-warning">Volver</a></td>
				</tr>

			</tbody>



		</table>




	</div>



</body>
</html>