<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Lista de items</title>

<div th:replace="header.html"></div>

</head>


<body>
<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content"
				 th:replace="div2 :: div"></div>
			
		
	</section>

			<section class="full-box page-content">
			<nav th:replace="nav_user :: nav">			
			</nav>
			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE ITEMS
				</h3>
				<p class="text-justify"></p>
			</div>
			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li><a th:href="@{/remitos/new/{id}(id=${local.id})}"><i class="fas fa-plus fa-fw"></i>
							&nbsp; AGREGAR ITEM</a></li>
					<li><a class="active" href="item-list.html"><i
							class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE ITEMS</a></li>
					<li><a href="item-search.html"><i
							class="fas fa-search fa-fw"></i> &nbsp; BUSCAR ITEM</a></li>
				</ul>
			</div>
			
			   <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
       var all =  /*[[ ${popUp} ]]*/;

    /*]]>*/
    
    if(all!=null){
    	    	alert("No hay stock suficiente para generar el Remito");

    }
</script>

			<!--CONTENT-->
			<div class="container-fluid">
				<div class="table-responsive">
					<table class="table table-dark table-sm">
						<thead>
							<tr class="text-center roboto-medium">
								<th>ID</th>
								<th>FECHA</th>
								<th>PRODUCTO</th>
								<th>CANTIDAD</th>
								<th>VENDEDOR</th>
								<th>CLIENTE</th>
								<th>FORMA DE PAGO</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>


							<div th:each="remito:${remitos}"
								th:if="${remito.vendedor.local.id}==${local.id}">
								<td th:text="${remito.id}"></td>
								<td th:text="${remito.fecha}"></td>
								<td th:text="${remito.producto.descripcion}"></td>
								<td th:text="${remito.cantidad}"></td>
								<td th:text="${remito.vendedor.nombre}"></td>
								<td th:text="${remito.cliente.nombre}"></td>
								<td th:text="${remito.formaDePago}"></td>



								<td><a th:href="@{/remitos/editar/} + ${remito.id}"
									class="btn btn-warning">Editar</a></td>
								<td><a th:href="@{/remitos/eliminar/} + ${remito.id}"
									class="btn btn-danger">Eliminar</a></td>
								<td><a th:href="@{/locales/main/{id}(id=${local.id})}"
									class="btn btn-warning">Volver</a></td>
							</div>


						</tbody>
					</table>
				</div>
			<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">

						<li class="page-item"
							th:classappend="${prev == 0 ? 'disabled': '' }"><a
							class="page-link" th:href="@{|/remitos/${local.id}?page=${prev}|}">Anterior</a>
						</li>
						<li class="page-item" th:each="page : ${pages}"
							th:classappend="${current == page ? 'active': '' }"><a
							class="page-link" th:href="@{|/remitos/${local.id}?page=${page}|}"
							th:text="${page}"></a>
						<li class="page-item"
							th:classappend="${current == last ? 'disabled': '' }"><a
							class="page-link" th:href="@{|/remitos/${local.id}?page=${next}|}">Proxima</a>
						</li>

					</ul>
				</nav>
			</div>
		</section>




	</main>


		<div th:replace="scripts-footer.html"></div>
</body>
</html>