<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Nuevo Remito</title>

<div th:replace="header.html"></div>

</head>
<body>

	<main class="full-box main-container">
		<!-- Nav lateral -->
	<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			
			<div th:if="${empleado.gerente}" class="full-box nav-lateral-content"
            th:include="div :: div"></div>
        
            <div th:unless="${empleado.gerente}" class="full-box nav-lateral-content"
                    th:include="div2 :: div"></div>
			 
			 
	</section>


		<!-- Page content -->
			<section class="full-box page-content">
			<nav th:replace="nav_user :: nav">			
			</nav>

			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR REMITO
				</h3>
				<p class="text-justify">Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Suscipit nostrum rerum animi natus beatae ex.
					Culpa blanditiis tempore amet alias placeat, obcaecati quaerat
					ullam, sunt est, odio aut veniam ratione.</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li><a class="active" href="user-new.html"><i
							class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR REMITO</a></li>
					<li><a href="user-list.html"><i
							class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA REMITOS</a></li>
					<li><a href="user-search.html"><i
							class="fas fa-search fa-fw"></i> &nbsp; BUSCAR REMITO</a></li>
				</ul>
			</div>

			<!-- Content -->
			<div class="container-fluid">
				<fieldset>
					<legend><i class="far fa-plus-square"></i> &nbsp; Información de Remitos</legend>

					<form th:action="@{/remitos/save}" th:object=${remito} method="POST">
						<div class="container-fluid">
							<div class="row">

								<div>
									<div class="form-group" style="display: none">
										<label class="form-group">Id</label>
										<input th:field="*{id}" type="number" class="form-control" />
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>FECHA</label>
										<input th:field="*{fecha}" type="date" value="2011-08-19" class="form-control" placeholder="Fecha">
									</div>
								</div>
                                
                                <div class="col-12 col-md-6">
									<div class="form-group">
										<label>PRODUCTO</label> <select class="form-control" placeholder="Producto" th:field="*{producto.id}">
											<option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.descripcion}+${producto.talle}"></option>
										</select> 
										<small class="form-text text-danger"th:if="${#fields.hasErrors('producto.id')}" th:errors="*{producto.id}"></small>
									</div>
								</div>
                                
                                <div class="col-12 col-md-6">
									<div class="form-group">
										<label>CANTIDAD</label>
										<input th:field="*{cantidad}" type="number"  class="form-control">
									</div>
								</div>
                                
                                <div class="col-12 col-md-6">
									<div class="form-group">
										<label>VENDEDOR</label> <select class="form-control" placeholder="Vendedor" th:field="*{vendedor.id}">
											<option th:each="vendedor : ${local.empleados}" th:value="${vendedor.id}" th:text="${vendedor.nombre}"></option>
										</select> 
										<small class="form-text text-danger"th:if="${#fields.hasErrors('vendedor')}" th:errors="*{vendedor}"></small>
									</div>
								</div>
                                
                                <div class="col-12 col-md-6">
									<div class="form-group">
										<label>CLIENTE</label> <select class="form-control" placeholder="Cliente" th:field="*{cliente.id}">
											<option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
										</select> 
										<small class="form-text text-danger"th:if="${#fields.hasErrors('cliente.id')}" th:errors="*{cliente.id}"></small>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>FORMA DE PAGO</label>
										<input th:field="*{formaDePago}" type="text" class="form-control" placeholder="Forma de pago">
									</div>
								</div>


							</div>
							<div class="card-footer">
								<i class="far fa-save"></i>
								<input type="submit" class="btn btn-raised btn-info btn-sm">
								<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
						&nbsp; &nbsp;
							</div>
						</div>
					</form>
				</fieldset>
				<br><br><br>
			
			</div>


		</section>
	</main>


	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="/js/jquery-3.4.1.min.js"></script>

	<!-- popper -->
	<script src="/js/popper.min.js"></script>

	<!-- Bootstrap V4.3 -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>
		$(document).ready(function() {
			$('body').bootstrapMaterialDesign();
		});
	</script>
	<script src="/js/main.js"></script>
	
</body>
</html>