 <!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stock</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>


	<div class="container mt-4">
		<div class="col-sm-6">
			<form   action="#" th:action="@{/lotes/save}" th:object=${lote} method="POST">
				<div class="card text-center border-info mb-3">
					<div class="card-header"></div>
					<h3>Modulo Lotes</h3>
					<div class="card-body"></div>
					
					<div class="form-group" style="display: none">
						<label>Id</label> <input th:field="*{id}" type="number" class="form-control" />
					</div>
					
					<div class="form-group">
						<label>Numero de Lote</label> <input th:field="*{numeroDeLote}" type="number" class="form-control" placeholder="Numero de lote" />
					</div>
					<div class="form-group">
						<label>Cantidad Recibida</label> <input th:field="*{cantidadRecibida}" type="number" class="form-control" placeholder="Cantidad recibida" />
					</div>
					<div class="form-group">
						<label>Cantidad Existente</label> <input th:field="*{cantidadExistente}" type="number" class="form-control" placeholder="Cantidad existente" />
					</div>
					
					<div>
						<label>Producto</label> 
						<select class="form-control"placeholder="Producto" th:field="*{producto.id}">
						<option th:each="producto : ${productos}" th:value="${producto.id}"
							th:text="${producto.descripcion}+${producto.talle}"></option>
					</select>		
					</div>
					
					<div>
						<label>Local</label> 
						<select class="form-control"placeholder="Local" th:field="*{local.id}">
						<option th:each="locals : ${locales}" th:value="${locals.id}"
								th:text="${locals.direccion}"></option>
					</select>		
					</div>

					<!-- <div class="form-group">
						<label>LOCAL</label> <select class="form-control"
							placeholder="Local" th:field="*{local.id}">
							<option th:each="local : ${locales}" th:value="${local.id}"
								th:text="${local.direccion}"></option>
						</select> <input class="btn btn-outline-dark" type="submit"
							value="Create new batch">
					</div> -->

					<div class="card-footer">
						<input type="submit" style="background:#74C1F4" value="Guardar" class="btn btn-succes"/>


					</div>
				</div>
			</form>


		</div>


	</div>

</body>
</html>