<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stock</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body>


	<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/lotes/save}" th:object=${lote} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h3>Modulo Lotes</h3>
					<div class="card-body"></div>
					
					<div class="form-group">
						<label>NUMERO DE LOTE</label> <input th:field="*{numeroDeLote}" type="text" class="form-control" />
					</div>
					<div class="form-group">
						<label>CANTIDAD INICIAL</label> <input th:field="*{cantidadRecibida}" type="text" class="form-control" />
					</div>
					
					<select th:field="*{productoModel}" >
							<option th:each="productoModel : ${productos}" th:value="${productoModel.id}">
								<p th:text="${productoModel.descripcion}"/>
							</option>
					</select>
					
					<div class="card-footer">
						<input type="submit" style="background:yellow" value="Guardar" class="btn btn-succes"/>


					</div>
				</div>
			</form>


		</div>


	</div>

</body>
</html>