<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Stock</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body style="background:#DBDBDB">


	<div class="container mt-4">
		<div class="col-sm-6">
			<form   action="#" th:action="@{/lotes/save}" th:object=${lote} method="POST">
				<div class="card">
					<div class="card-header"></div>
					<h3>Modulo Lotes</h3>
					<div class="card-body"></div>
					
					<div class="form-group" style="display: none">
						<label>ID</label> <input th:field="*{id}" type="number" class="form-control" />
					</div>
					
					<div class="form-group">
						<label>NUMERO DE LOTE</label> <input th:field="*{numeroDeLote}" type="number" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('numeroLote')}" th:errors="*{numero}"></small>
					</div>
					<div class="form-group">
						<label>CANTIDAD RECIBIDA</label> <input th:field="*{cantidadRecibida}" type="number" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidadRecibida')}" th:errors="*{cantidadRecibida}"></small>
					</div>
					<div class="form-group">
						<label>CANTIDAD EXISTENTE</label> <input th:field="*{cantidadExistente}" type="number" class="form-control" />
						<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidadExistente')}" th:errors="*{cantidadExistente}"></small>
					</div>
					
					<div>
						<label>PRODUCTO</label> 
						<select class="form-control"placeholder="Producto" th:field="*{producto.id}">
						<option th:each="producto : ${productos}" th:value="${producto.id}"
							th:text="${producto.descripcion}+${producto.talle}"></option>
					</select>		
					<small class="form-text text-danger" th:if="${#fields.hasErrors('producto.id')}" th:errors="*{producto.id}"></small>
					</div>
					
					<div style="display: none">
						<label>LOCAL</label> 
						<select class="form-control"placeholder="Local" th:field="*{local.id}">
						<option th:value="${local.id}"
								th:text="${local.direccion}"></option>
								
					</select>	
					<small class="form-text text-danger" th:if="${#fields.hasErrors('local.id')}" th:errors="*{local.id}"></small>	
					</div>

					<div class="card-footer">
						<input type="submit" style="background:yellow" value="Guardar" class="btn btn-succes"/>


					</div>
				</div>
			</form>


		</div>


	</div>

</body>
</html>