<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Stock</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
</head>
<body style="background-color:#D5D5D5;">
	<div th:replace="nav :: nav"></div>

	<div class="container mt-4">
	<a th:href="@{/lotes/new}" class="btn btn-primary">Agregar lote</a>
		<table class="table" >
			<thead>
				<tr style="text-align:center;">
					<th>NUMERO DE LOTE</th>
					<th>CANTIDAD INICIAL</th>
					<th>FECHA DE INGRESO</th>
					<th>CANTIDAD EXISTENTE</th>
					<th>CODIGO PRODUCTO</th>
					<th>TALLE</th>
					<th>LOCAL</th>
				</tr>
			<tbody>
				<tr th:each="lote:${lotes}" style="text-align:center;">

					<td th:text="${lote.numeroDeLote}"></td>
					<td th:text="${lote.cantidadRecibida}"></td>
					<td th:text="${lote.fechaIngreso}"></td>
					<td th:text="${lote.cantidadExistente}"></td>
					<td th:text="${lote.producto.codigoProducto}"></td>
					<td th:text="${lote.producto.talle}"></td>
					<td th:text="${lote.local.direccion}"></td>
					<td>
					<a th:href="@{lotes/editar/{id}(id=${lote.id})} " class="btn btn-warning">Editar</a>
					</td>
                    <td>
                    <a th:href="@{lotes/eliminar/{id}(id=${lote.id})} " class="btn btn-danger" onclick="alert('El local fue eliminado con exito!')" >Eliminar</a>
                    </td>
                    
                    
				</tr>

			</tbody>



		</table>




	</div>



</body>
</html>