!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Nuevo Lote</title>

<div th:replace="header.html"></div>
</head>
<body>

	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
					<div th:if="!${empleado.gerente}" >
			<div class="full-box nav-lateral-content"
				 th:replace="div2 :: div"></div>
			 </div>
			<div th:if="${empleado.gerente}" >
			<div class="full-box nav-lateral-content"
				 th:replace="div :: div"></div>
			 </div>
			 
			 
	</section>

		<!-- Page content -->
			<section class="full-box page-content">
			<nav th:replace="nav_user :: nav">			
			</nav>

			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR LOTE
				</h3>
				<p class="text-justify">Lorem ipsum dolor sit amet, consectetur
					adipisicing elit. Suscipit nostrum rerum animi natus beatae ex.
					Culpa blanditiis tempore amet alias placeat, obcaecati quaerat
					ullam, sunt est, odio aut veniam ratione.</p>
			</div>

			<div class="container-fluid">
				<ul class="full-box list-unstyled page-nav-tabs">
					<li><a class="active" href="user-new.html"><i
							class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR LOTE</a></li>
					<li><a href="user-list.html"><i
							class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE
							LOTES</a></li>
					<li><a href="user-search.html"><i
							class="fas fa-search fa-fw"></i> &nbsp; BUSCAR LOTE</a></li>
				</ul>
			</div>

			<!-- Content -->
			<div class="container-fluid">
				<fieldset>
					<legend><i class="far fa-plus-square"></i> &nbsp; Información del Lote</legend>

					<form th:action="@{/lotes/save}" th:object=${lote} method="POST">
						<div class="container-fluid">
							<div class="row">

								<div>
									<div class="form-group" style="display: none">
										<label class="form-group">Id</label>
										<input th:field="*{id}" type="number" class="form-control" />
									</div>
								</div>

								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating color-fuerte">NUMERO DE LOTE</label>
										<input th:field="*{numeroDeLote}" type="number"  pattern="[0-9-]{1,20}" class="form-control" name="item_codigo" id="item_codigo" maxlength="20">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('numeroDeLote')}" th:errors="*{numero}"></small>
									</div>
								</div>
                                
                                <div class="col-12 col-md-4">
									<div class="form-group">
										<label for="item_codigo" class="bmd-label-floating color-fuerte">CANTIDAD RECIBIDA</label>
										<input th:field="*{cantidadRecibida}" type="number"  pattern="[0-9-]{1,20}" class="form-control" name="item_codigo" id="item_codigo" maxlength="20">
										<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidadRecibida')}" th:errors="*{cantidadRecibida}"></small>
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="form-group">
										<label>PRODUCTO</label> <select class="form-control" placeholder="Producto" th:field="*{producto.id}">
											<option th:each="producto : ${productos}" th:value="${producto.id}" th:text="${producto.descripcion}+${producto.talle}"></option>
										</select> 
										<small class="form-text text-danger"th:if="${#fields.hasErrors('producto.id')}" th:errors="*{producto.id}"></small>
									</div>
								</div>
					


								<div style="display: none">
									<label>LOCAL</label> <select class="form-control"
										placeholder="Local" th:field="*{local.id}">
										<option th:value="${local.id}" th:text="${local.direccion}"></option>

									</select> <small class="form-text text-danger"
										th:if="${#fields.hasErrors('local.id')}"
										th:errors="*{local.id}"></small>
								</div>




							</div>
							<div class="card-footer">
								<i class="far fa-save"></i>
								<input type="submit" class="btn btn-raised btn-info btn-sm">
							</div>
						</div>
					</form>
				</fieldset>
				<br><br><br>
					<p class="text-center" style="margin-top: 40px;">
						<button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR</button>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>
					</p>
			</div>


		</section>
	</main>


	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="/js/jquery-3.4.1.min.js"></script>

	<!-- popper -->
	<script src="/js/popper.min.js"></script>

	<!-- Bootstrap V4.3 -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="/js/bootstrap-material-design.min.js"></script>
	<script>
		$(document).ready(function() {
			$('body').bootstrapMaterialDesign();
		});
	</script>

	<script src="/js/main.js"></script>
</body>
</html>